body {
	margin: 0;
	padding: 0;
}

#grid {
	display: grid;
	grid-template-columns: 1fr minmax(100px, 1fr);
	height: 100dvh;
}

#map {
	/* basic land color for our MapBox theme, avoid high contrast on map loading */
	background-color: #f1f1f0;
}

#breves {
	overflow: scroll;
	padding: 1rem;
	padding-bottom: calc(90vh - 10rem);
	letter-spacing: -0.05rem;
}

#breves h1 {
	font-style: italic;
}

#breves h2 {
	font-style: italic;
	cursor: pointer;
	margin-bottom: 0;
}

#breves .unread > h2::before {
	content: 'â— ';
}

#disqus_thread {
	width: min(90%, 40rem);
	margin: 2rem auto;
}

.sound-wrapper {
	min-height: 128px;
	margin-bottom: -128px;
	position: relative;
}

progress.sound-progress {
	position: absolute;
	top: calc(50% - 0.7rem);
	border-radius: 1rem;
	width: 90%;
	height: 1rem;
	border: 0.2rem solid;
	-webkit-appearance: none;
}

progress.sound-progress::-webkit-progress-bar {
	background-color: var(--text-color);
	border-radius: 1rem;
}

progress.sound-progress::-webkit-progress-value {
	background-color: var(--comment-color);
	border-radius: 1rem;
	transition: width ease-in-out 200ms;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	#grid {
		grid-template-columns: initial;
		grid-template-rows: auto 17rem;
	}
	#breves {
		padding: 0;
		display: grid;
		grid-auto-flow: column;
		scroll-snap-type: x mandatory;
	}
	#breves > h1 {
		position: absolute;
		top: 0;
		margin: 0.67rem;
		font-size: min(8vw, 2em);
		color: var(--text-color);
		background: var(--background-color);
		opacity: 0.9;
		backdrop-filter: blur(0.1rem);
		padding: 0.5rem;
		border-radius: 0.5rem;
		box-shadow: 0px 0.2rem 0.2rem 0.05rem;
	}
	#breves > div {
		width: 80vw;
		margin: 0 10vw;
		overflow: scroll;
		scroll-snap-align: center;
	}
}
