body {
	margin: 0;
	padding: 0;
}

#grid {
	display: grid;
	grid-template-columns: 1fr minmax(100px, 1fr);
	height: 100vh;
}

#breves {
	overflow: scroll;
	padding: 1rem;
	padding-bottom: calc(90vh - 10rem);
	letter-spacing: -0.05rem;
}

#breves h1 {
	font-style: italic;
}

#breves h2 {
	font-style: italic;
	cursor: pointer;
	margin-bottom: 0;
}

#breves .unread > h2::before {
	content: '● ';
}

#disqus_thread {
	width: min(90%, 40rem);
	margin: 2rem auto;
}

.sound-wrapper {
	min-height: 128px;
	margin-bottom: -128px;
	position: relative;
}

progress.sound-progress {
	position: absolute;
	top: calc(50% - 0.7rem);
	border-radius: 1rem;
	width: 90%;
	height: 1rem;
	border: 0.2rem solid;
	-webkit-appearance: none;
}

progress.sound-progress::-webkit-progress-bar {
	background-color: #abb2bf; /* $text-color */
	border-radius: 1rem;
}

progress.sound-progress::-webkit-progress-value {
	background-color: #7f848e; /* $comment-color */
	border-radius: 1rem;
	transition: width ease-in-out 200ms;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	#grid {
		grid-template-columns: initial;
		grid-template-rows: auto 20rem;
	}
	#breves {
		padding-bottom: 0;
	}
}
