---
---

<!DOCTYPE html>
<html>

<head>
	{% include meta.html %}
	<meta charset="utf-8">
	<title>Globe</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
	<link rel="stylesheet" href="/css/globe.css" type="text/css" />
</head>

<body>
	<div id="grid">
		<div id="map"></div>
		<div id="breves">
			<h1>Breves de voyage</h1>
			
				<div data-loc="-74.96855,6.325622" data-zoom="13" data-anchor="20230907__nouveau_pantalon">
					<h2>Nouveau pantalon</h2>
					<sub class="📆">07/09/2023, 22:08</sub>
					<p>Des jours que je le portais, maintenant c'est le mien ! Le départ se rapproche à grands pas. La confusion est grande mais la décision sûre. Le hamac lui n'arrive toujours pas...</p>
				</div>
			
				<div data-loc="-75.034403,6.351288" data-zoom="13" data-anchor="20230831__enfants">
					<h2>Enfants</h2>
					<sub class="📆">31/08/2023, 06:00</sub>
					<p>Ce soir c'est la pleine lune, je me sens un peu sédentaire... Mais bon je reprends bientôt la route ! En attendant on se découvre gamins. Merci Gaelle !</p>
				</div>
			
				<div data-loc="-75.03471,6.349653" data-zoom="13" data-anchor="20230811__au_revoir_les_coqs">
					<h2>Au-revoir les coqs</h2>
					<sub class="📆">11/08/2023, 21:59</sub>
					<p>Nous avons tué et préparé six coqs aujourd'hui. On les mangera demain.</p>
				</div>
			
				<div data-loc="-75.179258,6.220712" data-zoom="13" data-anchor="20230808__tourisme">
					<h2>Tourisme</h2>
					<sub class="📆">08/08/2023, 17:39</sub>
					<p>Je fais du tourisme, seul et de ma propre volonté. Je crois que c'est une première. En tous cas ça fait bizarre...</p>
				</div>
			
				<div data-loc="-75.5774,6.256178" data-zoom="13" data-anchor="20230806__retrouvailles">
					<h2>Retrouvailles</h2>
					<sub class="📆">06/08/2023, 01:24</sub>
					<p>Rencontre avec Antoine et les copains parisiens. Ça fait du bien de revoir des têtes !</p>
				</div>
			
				<div data-loc="-75.029195,6.29717" data-zoom="13" data-anchor="20230730__d_a_del_campesino">
					<h2>Día del campesino</h2>
					<sub class="📆">30/07/2023, 20:51</sub>
					<p>La journée des paysans. Premier retour à la civilisation en un mois. Et là on rentre à la communauté tassé.es sur le toit d'un bus, à éviter les branches !</p>
				</div>
			
				<div data-loc="-75.023765,6.352048" data-zoom="13" data-anchor="20230729___la_cascade">
					<h2>À la cascade</h2>
					<sub class="📆">29/07/2023, 19:18</sub>
					<p>Toujours en vie ! Je reste un peu plus longtemps dans la communauté, et je profite des jours de repos pour découvrir les environs. Ce matin, c'était la cueillette.</p>
				</div>
			
				<div data-loc="-75.033792,6.349352" data-zoom="13" data-anchor="20230711__premi_re_porte">
					<h2>Première porte</h2>
					<sub class="📆">11/07/2023, 00:03</sub>
					<p>Une exploration de soi, en pleine nature, en Colombie. Et une fois la <em>porte</em> finit. Le spectacle de la nature avec des dizaines de lucioles...</p>
				</div>
			
				<div data-loc="-75.04602,6.352369" data-zoom="13" data-anchor="20230701___clair_par_la_lune">
					<h2>Éclairé par la lune</h2>
					<sub class="📆">01/07/2023, 23:29</sub>
					<p>Parti un peu tard en randonnée, je ne serai pas rentré avant la nuit. Mais la lune est presque pleine, j'ai deux bananes et une lampe. Et je fais de belles rencontres sur la route.</p>
				</div>
			
				<div data-loc="-75.034735,6.349647" data-zoom="13" data-anchor="20230701__fin_de_la_semaine">
					<h2>Fin de la semaine</h2>
					<sub class="📆">01/07/2023, 00:15</sub>
					<p>J'ai travaillé 3 jours à déplacer 300 bambous immenses. Mardi, on commence la construction. Et en attendant, 3 jours de repos !</p>
				</div>
			
				<div data-loc="-75.115247,6.28405" data-zoom="13" data-anchor="20230627__entre_les_alpes_et_la_martinique">
					<h2>Entre les Alpes et la Martinique</h2>
					<sub class="📆">27/06/2023, 17:42</sub>
					<p>Dans le bus en route pour la communauté<a href="https://eljuego.community">El Juego</a>. Un paysage montagneux comme vous le connaissez mais verdoyant et plein d'arbres fruitiers des tropiques. Je compte faire mes premières tentatives de stop ici.</p>
				</div>
			
				<div data-loc="-75.595052,6.243011" data-zoom="13" data-anchor="20230626__nouvelle_bouteille">
					<h2>Nouvelle bouteille</h2>
					<sub class="📆">26/06/2023, 22:58</sub>
					<p>Je découvre la ville. À la salle d'escalade j'ai pu demander une nouvelle bouteille dans les objets trouvés. J'avais laissé la mienne un peu avant sur la route...</p>
				</div>
			
				<div data-loc="-75.616126,6.255465" data-zoom="13" data-anchor="20230625__chocolat_chaud">
					<h2>Chocolat chaud</h2>
					<sub class="📆">25/06/2023, 20:54</sub>
					<p>Je découvre une recette de chocolat chaud sans lait, c'est délicieux !</p>
				</div>
			
				<div data-loc="-75.45836,10.399976" data-zoom="13" data-anchor="20230623__voyage_en_bus">
					<h2>Voyage en bus</h2>
					<sub class="📆">23/06/2023, 22:26</sub>
					<p>Après le <em>collectivo</em>, petit bus pas cher et plein de sueur. C'est parti pour 14 heures de bus climatisé. J'ai pris mon sac de couchage..</p>
				</div>
			
				<div data-loc="-75.519207,10.408024" data-zoom="13" data-anchor="20230619__pizza_locale">
					<h2>Pizza locale</h2>
					<sub class="📆">19/06/2023, 23:47</sub>
					<p>Le chef cuisine en terrasse, avec la chaleur on le comprend. À côté un peu de salsa, je crois que j'en entends en continue depuis vendredi.</p>
				</div>
			
				<div data-loc="-75.542893,10.412356" data-zoom="13" data-anchor="20230615__original">
					<h2>Original</h2>
					<sub class="📆">15/06/2023, 18:10</sub>
					<p>Et me voilà arrivé en Colombie, avec le Big Fish II et son équipage. On a passé une belle tempête dans la nuit, un <em>culo de pollo</em></p>
				</div>
			
				<div data-loc="-76.843221,10.048264" data-zoom="9" data-anchor="20230614__parlez_moi_de_la_pluie">
					<h2>Parlez-moi de la pluie</h2>
					<sub class="📆">14/06/2023, 23:55</sub>
					<p>Brassens serait content, je ne passe pas une nuit sans orage à l'horizon depuis mon départ de Guadeloupe...</p>
				</div>
			
				<div data-loc="-78.948006,9.556319" data-zoom="13" data-anchor="20230613__tampon_de_sortie">
					<h2>Tampon de sortie</h2>
					<sub class="📆">13/06/2023, 16:46</sub>
					<p>Ça y est, je suis officiellement en route pour l'Amérique du Sud. À bord d'un Dufour de 13 mètres. Comme un catamaran dans un monocoque</p>
				</div>
			
				<div data-loc="-78.883284,9.586751" data-zoom="13" data-anchor="20230613__coulante">
					<h2>Coulante</h2>
					<sub class="📆">13/06/2023, 12:36</sub>
					<p>J'ai peut-être un peu abusé sur l'eau du coin. Facile la vie à Kuna Yala. Et j'ai trouvé une embarcation pour la Colombie</p>
				</div>
			
				<div data-loc="-78.879892,9.58325" data-zoom="13" data-anchor="20230612__tubara_">
					<h2>Tubaraõ</h2>
					<sub class="📆">12/06/2023, 00:02</sub>
					<p>Je viens de voir un requin en nageant vers la plage. Même s'il a sûrement eu plus peur que moi, j'ai fait demi-tour..</p>
				</div>
			
				<div data-loc="-79.31121,9.621697" data-zoom="9" data-anchor="20230611__mer_d_huile">
					<h2>Mer d'huile</h2>
					<sub class="📆">11/06/2023, 18:00</sub>
					<p>C'est impressionnant de la voir si calme...</p>
				</div>
			
				<div data-loc="-79.717558,9.583703" data-zoom="9" data-anchor="20230610__encore_en_mer">
					<h2>Encore en mer</h2>
					<sub class="📆">10/06/2023, 18:41</sub>
					<p>Je vais vers les San Blas avec le Bela Juju. Un monocoque (Jeanneau) de 18 mètres. À son bord un équipage de Brésiliens très avenants !</p>
				</div>
			
				<div data-loc="-79.951491,9.368334" data-zoom="13" data-anchor="20230609__en_am_rique_">
					<h2>En Amérique !</h2>
					<sub class="📆">09/06/2023, 19:45</sub>
					<p>Enfin, après six mois de voyage, me voilà sur le continent où commence ma nouvelle aventure...</p>
				</div>
			
				<div data-loc="-79.560498,9.72359" data-zoom="9" data-anchor="20230608__terre_a_perte_de_vue">
					<h2>Terre a perte de vue</h2>
					<sub class="📆">08/06/2023, 13:02</sub>
					<p>Nous arrivons aux abords du canal de Panamá. Navigant entre les cargos allant jusqu'à 300 mètres de long.</p>
				</div>
			
				<div data-loc="-74.220988,12.30543" data-zoom="9" data-anchor="20230605__gros_thon">
					<h2>Gros thon</h2>
					<sub class="📆">05/06/2023, 23:23</sub>
					<p>La dernière pêche de cette navigation. On devrait arriver après-demain. En attendant la vie est facile à bord. Cuisiner. Manger. Observer. Dormir. Profiter!</p>
				</div>
			
				<div data-loc="-73.848519,12.458589" data-zoom="9" data-anchor="20230605__dauphins">
					<h2>Dauphins</h2>
					<sub class="📆">05/06/2023, 19:16</sub>
					<p>Ils viennent de passer nous voir dans une mer d'huile. On a pu les regarder allongés dans le filet.</p>
				</div>
			
				<div data-loc="-71.771631,13.06161" data-zoom="9" data-anchor="20230604__baignade_en_haute_mer">
					<h2>Baignade en haute mer</h2>
					<sub class="📆">04/06/2023, 23:28</sub>
					<p>C'est flippant... Mais ça fait du bien !</p>
				</div>
			
				<div data-loc="-70.005014,13.51041" data-zoom="9" data-anchor="20230604__repas_froids">
					<h2>Repas froids</h2>
					<sub class="📆">04/06/2023, 05:46</sub>
					<p>Nous n'aurons sûrement pas assez de gaz pour tenir jusqu'à la fin. On commence à prévoir les repas soigneusement. Par contre, douches illimitées !</p>
				</div>
			
				<div data-loc="-66.554282,14.326592" data-zoom="9" data-anchor="20230603__changement_de_plan">
					<h2>Changement de plan</h2>
					<sub class="📆">03/06/2023, 00:28</sub>
					<p>On a remis la canne à pêche et mangé une délicieuse bonite !</p>
				</div>
			
				<div data-loc="-63.790859,15.167798" data-zoom="9" data-anchor="20230601__pas_de_poissons">
					<h2>Pas de poissons</h2>
					<sub class="📆">01/06/2023, 16:18</sub>
					<p>On a cassé le fil et failli perdre la canne à pêche. C'est con, ç'aurait été parfait avec le riz à la mangue de ce midi.</p>
				</div>
			
				<div data-loc="-61.530008,16.21075" data-zoom="9" data-anchor="20230531__en_route_pour_le_continent">
					<h2>En route pour le continent</h2>
					<sub class="📆">31/05/2023, 14:08</sub>
					<p>Nous avons largué les amarres, direction Panama. Pour suivre notre bateau sans nom, c'est <a href="https://share.garmin.com/KOKBE">par ici</a>. On se retrouve en Amérique.</p>
				</div>
			
				<div data-loc="-61.350926,15.979808" data-zoom="9" data-anchor="20230530__18_n_uds_400_tonneaux">
					<h2>18 nœuds 400 Tonneaux</h2>
					<sub class="📆">30/05/2023, 17:01</sub>
					<p>Après les au revoirs avec les potes du bateau-stop, nous partons à bord d'un immense voilier de 27m pour la Guadeloupe. Demain je pars pour le Panama</p>
				</div>
			
				<div data-loc="-61.323527,15.949312" data-zoom="13" data-anchor="20230528__le_cygne">
					<h2>Le Cygne</h2>
					<sub class="📆">28/05/2023, 08:06</sub>
					<p>Je suis en permission du weekend ! Ce soir on dort sur la plage. Retour à la maison en suivant la constellation des couche-tards...</p>
				</div>
			
				<div data-loc="-61.529736,16.221538" data-zoom="9" data-anchor="20230523__lagoon_51">
					<h2>Lagoon 51</h2>
					<sub class="📆">23/05/2023, 17:00</sub>
					<p>Me voilà bientôt reparti pour une plus grande navigation. Une semaine vers le <strong>continent</strong>. En attendant nous affretons ce cata tout neuf, encore emballé et vide de charme ou même d'outils.</p>
				</div>
			
				<div data-loc="-61.651283,16.203248" data-zoom="13" data-anchor="20230521__checkpoint">
					<h2>Checkpoint</h2>
					<sub class="📆">21/05/2023, 14:11</sub>
					<p>J'ai retrouvé Antoine (des Canaries) en Guadeloupe. Il m'accueille et j'en profite pour faire un lavage de tout : tente, sac de couchage, vêtements, sacs. Ça fait du bien !</p>
				</div>
			
				<div data-loc="-61.196575,14.845157" data-zoom="13" data-anchor="20230519__tarp">
					<h2>Tarp</h2>
					<sub class="📆">19/05/2023, 15:07</sub>
					<p>Nom masculin ou féminin. Désigne la Bach qu'on met au dessus d'un hamac pour éviter la pluie. Et objet trop souvent oublié par les possesseureuses de hamacs. La prochaine fois ils y penseront.</p>
				</div>
			
				<div data-loc="-61.202175,14.853028" data-zoom="13" data-anchor="20230518__for_t_martiniquaise">
					<h2>Forêt Martiniquaise</h2>
					<sub class="📆">18/05/2023, 20:39</sub>
					<p>Entre les palmiers, les fromagers, les manguiers, les courbarils et les figuiers maudits. On marche vers la cascade pour y faire un bivouac</p>
				</div>
			
				<div data-loc="-60.864956,14.469022" data-zoom="13" data-anchor="20230517__hello_bateau">
					<h2>Hello Bateau</h2>
					<sub class="📆">17/05/2023, 18:48</sub>
					<p>De retour au Marin en Martinique depuis trois jours. J'ai récupéré un téléphone (étanche cette fois) et peux à nouveau communiquer vers d'autre continents ! Et à priori, j'ai aussi trouvé un bateau pour la suite des aventures...</p>
				</div>
			
				<div data-loc="-61.375526,15.285522" data-zoom="13" data-anchor="20230511__ciao_mojo">
					<h2>Ciao Mojo</h2>
					<sub class="📆">11/05/2023, 15:34</sub>
					<p>Le bateau que j'ai trouvé hier pour la Martinique part sans moi. Mon téléphone est tombé à l'eau, plus de micro. Il est temps de changer de plan</p>
				</div>
			
				<div data-loc="-61.33409,15.328181" data-zoom="13" data-anchor="20230509__douche_chaude_illimit_e">
					<h2>Douche chaude illimitée</h2>
					<sub class="📆">09/05/2023, 21:58</sub>
					<p>Aux <em>Trafalgar Falls</em> il y a deux cascades qui se mélangent. L'une d'eau chaude et l'autre d'eau froide. Un spa sans électricité.</p>
				</div>
			
				<div data-loc="-61.388913,15.297602" data-zoom="13" data-anchor="20230507__balade_roseau">
					<h2>Balade à Roseau</h2>
					<sub class="📆">07/05/2023, 22:37</sub>
					<p>A la recherche d'internet! Aujourd'hui nous avons sauvé un bateau à la dérive, et Ludo nous a donné un cours particulier d'apnée.</p>
				</div>
			
				<div data-loc="-61.375772,15.278487" data-zoom="13" data-anchor="20230507__au_mouillage_en_dominique">
					<h2>Au mouillage en Dominique</h2>
					<sub class="📆">07/05/2023, 03:20</sub>
					<p>Livraison effectuée. On est au mouillage aux abords de la Dominique, bercés par les vagues.</p>
				</div>
			
				<div data-loc="-61.331803,15.129114" data-zoom="9" data-anchor="20230506__dominique_en_vue">
					<h2>Dominique en vue</h2>
					<sub class="📆">06/05/2023, 15:53</sub>
					<p>Une vue dégagée, de belles falaises. Et une navigation tranquille au bon plein.</p>
				</div>
			
				<div data-loc="-61.176515,14.741086" data-zoom="9" data-anchor="20230506__navigation_carib_enne">
					<h2>Navigation Caribéenne</h2>
					<sub class="📆">06/05/2023, 05:07</sub>
					<p>On a chargé un matelas de gym à l'avant du bateau (11m Alu). Nous le livrerons demain en Dominique. En attendant petite nuit dans le cockpit du <em>Ai</em>.</p>
				</div>
			
				<div data-loc="-61.106885,14.760766" data-zoom="13" data-anchor="20230505__la_fin_d_une_aventure">
					<h2>La fin d'une aventure</h2>
					<sub class="📆">05/05/2023, 13:58</sub>
					<p>Merci Mahault pour ce mois fruité et mon initiation Martiniquaise. Hier on a finit en beauté. J'ai pu visiter la ferme syntropique du voisin, Tugdual. Et ensuite apéro et film sur le thème de la syntropie. Réveil a 5h ce matin pour les derniers emballages, et faire mon sac a dos. Je pars en stop pour de nouvelles aventures..</p>
				</div>
			
				<div data-loc="-61.072045,14.610901" data-zoom="13" data-anchor="20230429__pizza_">
					<h2>Pizza!</h2>
					<sub class="📆">29/04/2023, 16:49</sub>
					<p>Ça faisait plus d'un mois que j'en rêvais... Bon ça vaut pas la Tavola Calda, mais c'était bon. Et maintenant stop direction chez Sol et Hervé pour une livraison de fruits secs à domicile</p>
				</div>
			
				<div data-loc="-61.192578,14.802151" data-zoom="13" data-anchor="20230428__montagne_pel_e">
					<h2>Montagne Pelée</h2>
					<sub class="📆">28/04/2023, 12:38</sub>
					<p>Je gravis le plus haut sommet de Martinique. J'y rencontre un anti-wokiste, j'ai des photos de lui en otage... On voit les îles alentours, c'est beau !</p>
				</div>
			
				<div data-loc="-61.217771,14.841335" data-zoom="13" data-anchor="20230427__la_plage_aux_b_b_tes">
					<h2>La plage aux bébétes</h2>
					<sub class="📆">27/04/2023, 02:34</sub>
					<p>On est a l'anse couleuvre. Ici on se fait pincer par des crabes et on voit des mygales. Mes amies dorment ici. Mais heureusement, pas moi</p>
				</div>
			
				<div data-loc="-61.106758,14.760648" data-zoom="13" data-anchor="20230426__tawashi">
					<h2>Tawashi</h2>
					<sub class="📆">26/04/2023, 22:07</sub>
					<p>J'apprends a transformer des vieux t-shirts en éponges (tawashi). Karla et Gabi s'en vont pour la Dominique, moi je continue de couper des bambous et sécher des fruits avec Mahault</p>
				</div>
			
				<div data-loc="-61.180195,14.722757" data-zoom="13" data-anchor="20230424__jonglage_enflamm_">
					<h2>Jonglage enflammé</h2>
					<sub class="📆">24/04/2023, 06:44</sub>
					<p>Après avoir rangé le festival. Nous sommes partis jongler et essayer le Shillum</p>
				</div>
			
				<div data-loc="-61.181287,14.709079" data-zoom="13" data-anchor="20230424__dumpster_paradise">
					<h2>Dumpster paradise</h2>
					<sub class="📆">24/04/2023, 02:04</sub>
					<p>Fin de festival. On finit les fûts. On finit les fonds de tous les foods trucs. Et on danse !</p>
				</div>
			
				<div data-loc="-61.183204,14.707583" data-zoom="13" data-anchor="20230422__festival_l_zard_tishow">
					<h2>Festival Lézard Tishow</h2>
					<sub class="📆">22/04/2023, 22:16</sub>
					<p>Weekend en festival de cirque et art de rue. On dort sur la plage et on fait la fête au rythme Martiniquais. Je suis bénévole, demain je fais faire des crêpes !</p>
				</div>
			
				<div data-loc="-61.106852,14.760641" data-zoom="13" data-anchor="20230415__soir_e_cr_pes">
					<h2>Soirée crêpes</h2>
					<sub class="📆">15/04/2023, 05:43</sub>
					<p>Retrouvailles entre bateaux stoppeurs Canariens. Farines de patates douces et bananes. Colbeck. Et jeux. <em>Te regalo un pato</em></p>
				</div>
			
				<div data-loc="-61.106743,14.760786" data-zoom="13" data-anchor="20230413__premi_re_journ_e_de_travail">
					<h2>Première journée de travail</h2>
					<sub class="📆">13/04/2023, 00:12</sub>
					<p>Après quelques jours de repos et exploration marine, j'attaque le séchage de fruits avec Mahault dans son <a href="https://atelierfruite.shop">atelier</a>. Ça promet de belles découvertes culinaires et humaines.</p>
				</div>
			
				<div data-loc="-61.081163,14.490469" data-zoom="9" data-anchor="20230409__perdu_dans_le_raccourci">
					<h2>Perdu dans le raccourci</h2>
					<sub class="📆">09/04/2023, 22:29</sub>
					<p>Faut faire gaffe avec les raccourcis qui rallongent. Mais bon je suis arrivé aux batteries du Cap Salomon. C'est magnifique, demain j'y retourne avec masque et tuba !</p>
				</div>
			
				<div data-loc="-61.079707,14.495528" data-zoom="13" data-anchor="20230409__nage">
					<h2>Nage</h2>
					<sub class="📆">09/04/2023, 01:19</sub>
					<p>De retour chez Sol et Hervé, qui m'ont hébergé quelques temps. Je visite la flore marine avec masque, tuba, et beaucoup de curiosité...</p>
				</div>
			
				<div data-loc="-61.152154,14.756487" data-zoom="13" data-anchor="20230406__nuit_chez_ga_ac">
					<h2>Nuit chez Gaïac</h2>
					<sub class="📆">06/04/2023, 11:40</sub>
					<p>Une ferme avec beaucoup de volontaires, on s'est nourri aux ti-punchs, et aujourd'hui on file visiter encore une ferme !</p>
				</div>
			
				<div data-loc="-61.106532,14.760744" data-zoom="13" data-anchor="20230405__visite_de_sainte_c_cile">
					<h2>Visite de Sainte Cécile</h2>
					<sub class="📆">05/04/2023, 21:21</sub>
					<p>Arno me parle de sa ferme en transition vers un meilleur mode d'agriculture. Et m'y propose du boulot. Je rencontre aussi Mao qui fait sécher des fruits. Et Nicolas qui étudie l'agriculture syntropique. Les portes s'ouvrent...</p>
				</div>
			
				<div data-loc="-60.857095,14.399424" data-zoom="13" data-anchor="20230404__visite_par_les_terres">
					<h2>Visite par les terres</h2>
					<sub class="📆">04/04/2023, 15:08</sub>
					<p>Je reviens sur le chemin par lequel nous sommes arrivés en bateau. Aujourd'hui, je me suis greffé dans le coffre d'une voiture plein pour visiter le sud de l'île.</p>
				</div>
			
				<div data-loc="-61.080697,14.498528" data-zoom="13" data-anchor="20230401__le_p_lican_bleu">
					<h2>Le Pélican Bleu</h2>
					<sub class="📆">01/04/2023, 03:44</sub>
					<p>Posés dans un bar les pieds dans le sable, sous les cocotiers, au bord de l'eau. Avec un peu de musique. Ambiance vacances</p>
				</div>
			
				<div data-loc="-60.87372,14.473305" data-zoom="13" data-anchor="20230331__salut_georges">
					<h2>Salut Georges</h2>
					<sub class="📆">31/03/2023, 22:35</sub>
					<p>Je débarque du Groundswell et je monte directement dans une voiture. Direction le sud de l'île, je vais planter la tente dans un jardin d'un ami de mon équipier Michel.</p>
				</div>
			
				<div data-loc="-60.866917,14.470964" data-zoom="13" data-anchor="20230329__sur_la_terre_ferme">
					<h2>Sur la terre ferme</h2>
					<sub class="📆">29/03/2023, 15:46</sub>
					<p>Je marche dans l'herbe, c'est incroyable. Ici le paysage est vert, le soleil est brûlant. J'ai hâte de découvrir l'île. Je vois des gens, sens des odeurs de restaurants. Dingue.</p>
				</div>
			
				<div data-loc="-60.888672,14.424214" data-zoom="13" data-anchor="20230328__arriv_s_">
					<h2>Arrivés!</h2>
					<sub class="📆">28/03/2023, 20:58</sub>
					<p>Ça y est on est au mouillage au Marin. On prépare l'apéro et on va chercher les invités pour ce soir, je vais toucher terre pour la première fois en 18 jours !</p>
				</div>
			
				<div data-loc="-60.317896,14.607859" data-zoom="9" data-anchor="20230328__terre_terre_terre_">
					<h2>Terre ! Terre ! Terre !</h2>
					<sub class="📆">28/03/2023, 13:28</sub>
					<p>On voit de loin le mont pelé. C'est déjà la fin!</p>
				</div>
			
				<div data-loc="-54.07104,15.734408" data-zoom="9" data-anchor="20230325__atterrissage_imminent">
					<h2>Atterrissage imminent</h2>
					<sub class="📆">25/03/2023, 22:07</sub>
					<p>Le pavillon français est hissé, nous sommes aa l'heure locale, l'eau est à 26 degrés et il nous reste moins de 500NM. On a même commencé a voir a nouveau des bateaux dans l'AIS. Ça sent la Martinique à plein nez!</p>
				</div>
			
				<div data-loc="-49.80691,16.325145" data-zoom="9" data-anchor="20230323__belle_toile">
					<h2>Belle étoile</h2>
					<sub class="📆">23/03/2023, 22:42</sub>
					<p>Ce soir je dors sur le pont du bateau sous un ciel superbe.</p>
				</div>
			
				<div data-loc="-47.50789,17.284174" data-zoom="9" data-anchor="20230322__champagne_">
					<h2>Champagne!</h2>
					<sub class="📆">22/03/2023, 20:45</sub>
					<p>Ona fêté le passage au milieu de L'océan ce midi. Ça fait trois jours qu'on à passé la moitié du parcours, mais les orages ne nous motivaient pas a boire des bulles. Bref, retour au calme, moitié passée, top.</p>
				</div>
			
				<div data-loc="-42.575385,18.722405" data-zoom="9" data-anchor="20230320__sunset_dantesque">
					<h2>Sunset Dantesque</h2>
					<sub class="📆">20/03/2023, 20:40</sub>
					<p>35 nœuds de vent vrai. 15 nœuds vitesse. Un couché de soleil entre deux cumulonimbus avec quelques rayons qui fusent vers le ciel. Et trois marins qui le regardent ensemble sous la pluie, sur le toit d'un Catamaran. L'air de dire : même pas peur.</p>
				</div>
			
				<div data-loc="-41.036046,19.275768" data-zoom="9" data-anchor="20230320__grain_sur_grain">
					<h2>Grain sur grain</h2>
					<sub class="📆">20/03/2023, 04:22</sub>
					<p>La météo se corse. On passe de 20 à 30 nœuds en 5 minutes. on est a plus de  30 degrés du cap. On fatigue, c'était pas au programme. Mais quand même un tataki aubergines cacahuètes, on se laisse pas abattre.</p>
				</div>
			
				<div data-loc="-39.451383,19.255956" data-zoom="9" data-anchor="20230319__il_est_frais_">
					<h2>Il est frais...</h2>
					<sub class="📆">19/03/2023, 14:39</sub>
					<p>Deux Tazars de plus. Et après la démo du capitaine, j'ai levé mes premiers filets. Sinon on a droit a notre premier grain, rien ne nous affole.</p>
				</div>
			
				<div data-loc="-37.052589,19.467816" data-zoom="9" data-anchor="20230318__du_poisson_frais">
					<h2>Du poisson frais</h2>
					<sub class="📆">18/03/2023, 16:07</sub>
					<p>On pêche notre premier poisson au milieu des Sargasses. C'est un tazar d'environ cinq kilos. Ce soir, c'est seviche!</p>
				</div>
			
				<div data-loc="-33.964078,20.957632" data-zoom="9" data-anchor="20230317__empanage">
					<h2>Empanage</h2>
					<sub class="📆">17/03/2023, 03:21</sub>
					<p>On vire de bord pour la première fois depuis des jours... Et ce soir on a eu le droit au couché de soleil avec rayon vert. Et deux fois grâce à la houle!</p>
				</div>
			
				<div data-loc="-30.772491,21.612542" data-zoom="9" data-anchor="20230315__et_une_baleine_">
					<h2>Et une baleine..</h2>
					<sub class="📆">15/03/2023, 20:22</sub>
					<p>Couché de soleil dégagé avec vue sur baleine à bosse. C'est bon on peut arriver maintenant, je suis content. Une journée très productive !</p>
				</div>
			
				<div data-loc="-30.160098,21.789425" data-zoom="9" data-anchor="20230315__douche_et_globic_phales">
					<h2>Douche et Globicéphales</h2>
					<sub class="📆">15/03/2023, 15:28</sub>
					<p>Journée magique. Réveillé à midi. On a du mettre du moteur dans la nuit, du coup j'ai le droit a une douche intégrale à l'eau chaude. Et a peine sorti, on rencontre ce magnifique couple de grands Globicéphales. La météo est clémente. On mange le babaganoush et chili en terrasse.</p>
				</div>
			
				<div data-loc="-28.346996,22.40476" data-zoom="9" data-anchor="20230314__bateau_en_vue">
					<h2>Bateau en vue</h2>
					<sub class="📆">14/03/2023, 19:55</sub>
					<p>Le premier depuis le grand large. Et cuisine toute la journée. Le gratin dauphinois à l'honneur.</p>
				</div>
			
				<div data-loc="-27.261527,22.491509" data-zoom="9" data-anchor="20230314__sur_un_rail">
					<h2>Sur un rail</h2>
					<sub class="📆">14/03/2023, 10:38</sub>
					<p>Ça fait bientôt deux jours qu'on a pas viré de bord. On file droit vers les Antilles. Hier on a même fait notre records, 170 NM en 24 heures.</p>
				</div>
			
				<div data-loc="-22.903322,23.245055" data-zoom="9" data-anchor="20230312__tout_va_bien">
					<h2>Tout va bien</h2>
					<sub class="📆">12/03/2023, 22:11</sub>
					<p>On mange comme des rois. Je suis dans mon meilleur lit depuis des mois. La cohabitation est agréable. Et là je suis sous un ciel étoilé, sans un nuage. Route directe vers la Martinique</p>
				</div>
			
				<div data-loc="-19.35734,25.120544" data-zoom="9" data-anchor="20230311__todo_bem">
					<h2>Todo bem</h2>
					<sub class="📆">11/03/2023, 10:40</sub>
					<p>Le mal de mer passe. Je commence a apprendre le brésilien. Et il y a encore des oiseaux.</p>
				</div>
			
				<div data-loc="-16.663948,28.067672" data-zoom="13" data-anchor="20230309__premier_quart">
					<h2>Premier quart</h2>
					<sub class="📆">09/03/2023, 21:36</sub>
					<p>On s'organise en garde de trois heures et pause de six heures. Et ce sur l'ensemble des journées et des nuits. Je vois les lumières de l'île s'éloigner. On file a huit nœuds maintenant! On se retrouve dans une vingtaine de jour pour le retour de l'Internet.</p>
				</div>
			
				<div data-loc="-16.414271,28.194764" data-zoom="13" data-anchor="20230309__premier_caca">
					<h2>Premier caca</h2>
					<sub class="📆">09/03/2023, 18:01</sub>
					<p>Les toilettes sont très confortables. J'en profite pour vous décrire le bateau, un Catamaran Bali 4.0. Je dors à l'avant du flotteur tribord dans une cabine double.</p><p>Le bateau est très luxueux, au point d'avoir un micro-ondes (et ouais tata) et un lave vaisselle.</p><p>Et pour les fans de voile. On file en ce moment a plus de 6 nœuds grâce au code 0 à l'avant. C'est une sorte de spi sur enrouleur.</p><p>Quant à l'équipage. Georges le capitaine de 50 ans est passionné de voile depuis ses 23. Et Michel, 72 ans, lui est ancien moniteur de plongée en Martinique. Il rentre au pays.</p>
				</div>
			
				<div data-loc="-16.254237,28.456522" data-zoom="13" data-anchor="20230309__vers_l_am_rique">
					<h2>Vers l'Amérique</h2>
					<sub class="📆">09/03/2023, 15:02</sub>
					<p>Courses faites. Jeu d'échecs acheté. Dernière lessive. Décathlon ok. Amende à vélo, évitée. Dernière douche. <strong>Busco Barco</strong> donné, vu que Barco trouvé. Amarres larguées. Voiles hissées.</p><p>On est parti pour la Martinique, adios Canarias!</p>
				</div>
			
				<div data-loc="-16.244752,28.466491" data-zoom="13" data-anchor="20230308__en_pleins_pr_paratifs">
					<h2>En pleins préparatifs</h2>
					<sub class="📆">08/03/2023, 14:46</sub>
					<p>Cette fois on dirait que c'est la bonne. Je monte avec Georges et Michel dans la Lame de Fond. Vous pouvez suivre le bateau <a href="https://share.garmin.com/share/groundswell">ici</a>, mot de passe <em>groundswell</em>.</p>
				</div>
			
				<div data-loc="-17.108441,28.08894" data-zoom="13" data-anchor="20230308__pleine_lune">
					<h2>Pleine lune</h2>
					<sub class="📆">08/03/2023, 00:01</sub>
					<p>Et alignement des planètes. Tout juste arrivé à La Gomera, je reçois deux appels.</p><p>D'un côté Amélie et Jean-Louis, que je connais par un ami de Gran Tarajal. Ils vont en Afrique et me proposent de partir avec eux en Avril.</p><p>De l'autre Georges et Michel. Eux me demandent d'être demain à Santa Cruz de Tenerife pour une Transat imminente.</p><p>En réfléchissant je fais un tour de ponton et tombe sur mon premier capitaine. Je dors dans son bateau ce soir et demain je repars voir Georges dès l'aube</p>
				</div>
			
				<div data-loc="-16.714955,28.051251" data-zoom="13" data-anchor="20230307__changement_au_port_des_christanos">
					<h2>Changement au port des Christanos</h2>
					<sub class="📆">07/03/2023, 16:04</sub>
					<p>Après avoir aidé les Norvégiens m'ayant emmené en allant leur chercher de l'essence avec mon vélo, me voici dans le ferry pour La Gomera!</p>
				</div>
			
				<div data-loc="-16.613734,28.020227" data-zoom="13" data-anchor="20230307__j_ai_trouv_un_bateau_">
					<h2>J'ai trouvé un bateau..</h2>
					<sub class="📆">07/03/2023, 11:52</sub>
					<p>.. Pour Los Christianos, sur la même île. Mais bon c'est toujours du bateau et ils ont pris mon vélo !</p>
				</div>
			
				<div data-loc="-16.538938,28.051088" data-zoom="13" data-anchor="20230304__f_te_de_la_pleine_lune">
					<h2>Fête de la pleine lune</h2>
					<sub class="📆">04/03/2023, 23:40</sub>
					<p>Arrivé depuis hier après 85 kilomètres de vélo. Ce soir on fête la pleine lune comme il se doit dans la nature de Tenerife..</p>
				</div>
			
				<div data-loc="-16.423472,28.211751" data-zoom="13" data-anchor="20230303__le_tour_du_cadran">
					<h2>Le tour du Cadran</h2>
					<sub class="📆">03/03/2023, 09:59</sub>
					<p>Réveillé par les coqs. Après plus de 12h de sommeil, je repars pour 40 kilomètres.</p>
				</div>
			
				<div data-loc="-16.311086,28.433397" data-zoom="13" data-anchor="20230302__sur_la_route_encore">
					<h2>Sur la route encore</h2>
					<sub class="📆">02/03/2023, 12:28</sub>
					<p>Avec mon vélo, le <strong>Busco Barco</strong>, j'ai décidé de rejoindre le Sud de l'île. J'y retrouve des amis, et peut-être un moyen de transport pour la Gomera. Il y a un soleil d'enfer et je suis chargé comme un mulet. Plus que 73km, je viens de sortir de la zone urbaine.</p>
				</div>
			
				<div data-loc="-16.467592,28.371082" data-zoom="13" data-anchor="20230228__el_teide">
					<h2>El Teide</h2>
					<sub class="📆">28/02/2023, 15:00</sub>
					<p>On a une vue imprenable sur le plus haut sommet de Tenerife, au dessus de la mer de nuages.</p><p>Toujours pas de nouvelles de l'équipage, je leur envoie un dernier message ce soir. Sinon, j'irai à La Gomera, et j'ai un rendez vous dans une ferme de Gran Canaria.</p>
				</div>
			
				<div data-loc="-16.43013,28.420348" data-zoom="13" data-anchor="20230227__retour_a_la_montagne">
					<h2>Retour a la montagne</h2>
					<sub class="📆">27/02/2023, 20:02</sub>
					<p>On a monté les tentes entre thym, menthe et origan. Un couché de soleil sur La Palma. Je vais me coucher maintenant pour éviter le froid et être prêt a marcher trente kilomètres demain matin.</p>
				</div>
			
				<div data-loc="-16.370656,28.442685" data-zoom="13" data-anchor="20230227__grande_randonn_e">
					<h2>Grande Randonnée</h2>
					<sub class="📆">27/02/2023, 15:20</sub>
					<p>Changement de plan, pas de place dans le bateau. Je pars pour le GR 131 avec Mahats, un autre laissé pour compte du bateau stop. On compte traverser l'île a pieds, du moins avant le prochain changement de plan..</p>
				</div>
			
				<div data-loc="-16.245008,28.466643" data-zoom="13" data-anchor="20230226__je_crois_que_j_ai_trouv_">
					<h2>Je crois que j'ai trouvé</h2>
					<sub class="📆">26/02/2023, 15:54</sub>
					<p>Ça s'est passé si rapidement. Un cata arrive au port, je vais parler au capitaine, il me propose d'embarquer pour les Caraïbes au bout de 5 minutes. Ça fait une heure et je suis encore en train de me demander si c'est réel.</p>
				</div>
			
				<div data-loc="-16.244652,28.466622" data-zoom="13" data-anchor="20230225__en_pays_basque">
					<h2>En Pays Basque</h2>
					<sub class="📆">25/02/2023, 20:11</sub>
					<p>Nous avons faire le tour des bateaux à Tenerife. Mahats, l'ami basque avec qui je suis à rencontré des gens de son pays. On a donc été invité à déjeuner, boire, dormir. Et tout ça a deux pas du carnaval</p>
				</div>
			
				<div data-loc="-15.71293,28.083778" data-zoom="13" data-anchor="20230225__le_ferry_d_marre">
					<h2>Le ferry démarre</h2>
					<sub class="📆">25/02/2023, 12:35</sub>
					<p>Après avoir galeré a rentrer mon vélo dans la soute du bus (avec un chauffeur pressé), me voilà dans le ferry a destination de Tenerife. Ce soir c'est Carnaval, et ça se voit sur les passagers..</p>
				</div>
			
				<div data-loc="-15.425495,28.128722" data-zoom="13" data-anchor="20230225__docteur_mario_au_secours">
					<h2>Docteur Mario au secours</h2>
					<sub class="📆">25/02/2023, 04:00</sub>
					<p>J'ai trouvé une chambre à air et Mario l'a changée d'une main en jouant au yam's de l'autre.</p>
				</div>
			
				<div data-loc="-15.4254,28.14985" data-zoom="13" data-anchor="20230225__crevaison">
					<h2>Crevaison</h2>
					<sub class="📆">25/02/2023, 00:23</sub>
					<p>J'ai tiré la mauvaise carte. Il faut que je vois comment faire : demain matin je prends un ferry.</p>
				</div>
			
				<div data-loc="-15.392838,28.178036" data-zoom="13" data-anchor="20230223__ronds_dans_l_eau">
					<h2>Ronds dans l'eau</h2>
					<sub class="📆">23/02/2023, 16:31</sub>
					<p>Mario nous emmène pour une petite virée au large de Las Palmas. On file a 8 nœuds au près serré !</p>
				</div>
			
				<div data-loc="-15.415479,28.144365" data-zoom="13" data-anchor="20230221__pour_partir">
					<h2>Pour partir</h2>
					<sub class="📆">21/02/2023, 00:37</sub>
					<p>Je travaillerai dans la soute a charbon. Au milieu du port industriel, j'ai envie de monter dans un des mastodontes quasiment a portée de main...</p><p>Et petit oubli dans la brève précédente : aujourd'hui je suis monté nu dans un bateau, et ressorti avec un maillot de bain et un kayak.</p>
				</div>
			
				<div data-loc="-15.762431,27.818179" data-zoom="13" data-anchor="20230220__bateau_stop_la_nage">
					<h2>Bateau stop à la nage</h2>
					<sub class="📆">20/02/2023, 18:02</sub>
					<p>Toutes les options sont bonnes pour trouver un voilier... J'ai rencontré un joueur d'échecs, donné mon numéro et visité une grotte inondée. Mais pour le bateau ou repassera.</p>
				</div>
			
				<div data-loc="-15.503295,28.114169" data-zoom="13" data-anchor="20230219__la_rave">
					<h2>La Rave</h2>
					<sub class="📆">19/02/2023, 03:01</sub>
					<p>Il y aura du Reggae a la plage de Confital. Pour l'instant on attend la fin de l'installation avec impatience..</p>
				</div>
			
				<div data-loc="-15.425151,28.14371" data-zoom="13" data-anchor="20230217__j_ai_un_v_lo_">
					<h2>J'ai un vélo!</h2>
					<sub class="📆">17/02/2023, 12:59</sub>
					<p>Grâce a Gaston j'ai pu trouver les pièces pour réparer un vélo. Ça change la vie. Je dors dans une auberge (Atlas) un peu loin, mais avec le vélo, paniproblème</p>
				</div>
			
				<div data-loc="-15.453821,28.12114" data-zoom="13" data-anchor="20230212__nuit_seul">
					<h2>Nuit seul</h2>
					<sub class="📆">12/02/2023, 06:03</sub>
					<p>Je crois que c'est la première du voyage. J'ai refusé une maison et ai planté ma tente au <em>mirador</em></p>
				</div>
			
				<div data-loc="-15.424849,28.127458" data-zoom="13" data-anchor="20230210__arriv_s_a_gran_canaria">
					<h2>Arrivés a Gran Canaria</h2>
					<sub class="📆">10/02/2023, 05:45</sub>
					<p>Demain : douche chaude.</p>
				</div>
			
				<div data-loc="-14.221161,28.084992" data-zoom="9" data-anchor="20230209__retour_la_flotte">
					<h2>Retour à la flotte</h2>
					<sub class="📆">09/02/2023, 12:48</sub>
					<p>On est partis pour Gran Canaria. Je navigue au spinnaker pour la première fois.</p>
				</div>
			
				<div data-loc="-14.029909,28.210399" data-zoom="13" data-anchor="20230205___checs_au_coin_du_feu_">
					<h2>Échecs au coin du feu 🔥</h2>
					<sub class="📆">05/02/2023, 20:46</sub>
					<p>J'ai rencontré Vincent. Il vadrouille depuis 7 ans maintenant. Il a trouvé un petit coin sur la plage ou s'installer, on est posé sur le tapis entre l'océan la lune et les flammes.</p>
				</div>
			
				<div data-loc="-14.019998,28.213689" data-zoom="13" data-anchor="20230203__pourquoi_brel_plus_que_sylvestre_">
					<h2>Pourquoi Brel plus que Sylvestre ?</h2>
					<sub class="📆">03/02/2023, 11:59</sub>
					<p>Depuis Séville je découvre progressivement Anne Sylvestre. Et je me demande pourquoi elle n'est pas plus connue ? Ses textes sont si beaux. Allez écouter une sorcière comme les autres.</p><p>J'ai troué mon sac de couchage, mais c'est réglé. Je vais reprendre la tente pour une journée ou deux..</p>
				</div>
			
				<div data-loc="-14.034188,28.233567" data-zoom="13" data-anchor="20230131__premi_re_tier_lieu_">
					<h2>Première tier lieu?</h2>
					<sub class="📆">31/01/2023, 15:48</sub>
					<p>En courant je suis tombé sur cette bizarre propriété privée. On s'est vaguement compris, mais ça semble intéressant.</p><p>Aussi, on a démonté le mat du Saraph et on est en plein dans les travaux.</p>
				</div>
			
				<div data-loc="-14.231922,28.160029" data-zoom="13" data-anchor="20230126__elon_musk_va_tuer_le_stop">
					<h2>Elon Musk va tuer le stop</h2>
					<sub class="📆">26/01/2023, 19:03</sub>
					<p>Déjà que les gens ne regarde pas toujours au bord de la route, ça sent pas bon cette histoire de voitures automatiques.</p><p>Et en attendant, ce soir ça mord pas, automatique ou pas.</p>
				</div>
			
				<div data-loc="-13.880678,28.242547" data-zoom="9" data-anchor="20230124__saraph_au_soleil">
					<h2>Saraph au soleil</h2>
					<sub class="📆">24/01/2023, 13:16</sub>
					<p>On navigue tranquillement vers Gran Tarajal. La houle et le vent nous poussent. Et tout ça sur un air de chanson française. On est bien</p>
				</div>
			
				<div data-loc="-13.86073,28.496243" data-zoom="13" data-anchor="20230122__un_go_t_d_italie">
					<h2>Un goût d'Italie</h2>
					<sub class="📆">22/01/2023, 23:29</sub>
					<p>Il y a beaucoup d'immigration italienne à Fuerteventura. Donc beaucoup de pizze. Et des limoncellos offerts par la propriétaire bien sûr!</p>
				</div>
			
				<div data-loc="-13.796778,28.695581" data-zoom="9" data-anchor="20230122__enfin_en_navigation">
					<h2>Enfin en navigation</h2>
					<sub class="📆">22/01/2023, 15:44</sub>
					<p>Après trois jours au mouillage, je reprends la mer avec le Saraph. Nous sommes 5 à bord, vivement le port pour avoir un peu plus de place. Nous visons Gran Tarajal.</p>
				</div>
			
				<div data-loc="-14.01409,28.708715" data-zoom="13" data-anchor="20230121__soleil_couchant">
					<h2>Soleil couchant</h2>
					<sub class="📆">21/01/2023, 18:22</sub>
					<p>Encore un couché de soleil aux Canaries. Toujours aussi agréable. Il faudra juste penser au chemin retour jusqu'au bateau.</p>
				</div>
			
				<div data-loc="-13.867098,28.739104" data-zoom="13" data-anchor="20230121__cinq_bord">
					<h2>Cinq à bord</h2>
					<sub class="📆">21/01/2023, 12:14</sub>
					<p>Ça va faire serré pour dormir ! Je pense aller dans une auberge de jeunesse pour la nuit, et demain on devrait bouger.</p><p>Toujours avec les Espagnols, tout se passe bien, et ils pensent peut-être faire la Transat.</p>
				</div>
			
				<div data-loc="-13.867389,28.739199" data-zoom="13" data-anchor="20230118__la_troisi_me_le">
					<h2>La troisième île</h2>
					<sub class="📆">18/01/2023, 17:16</sub>
					<p>Je suis à Fuerteventura. Je pense que je vais un peu avec les Espagnols.</p><p>On est au mouillage avec de supers voisins, avec un kayak et nos bras comme annexe !</p>
				</div>
			
				<div data-loc="-13.813372,28.860576" data-zoom="13" data-anchor="20230118__squat_au_soho">
					<h2>Squat au Soho</h2>
					<sub class="📆">18/01/2023, 08:16</sub>
					<p>J'ai pu passer la nuit dans un lit, sous un toit! Et aujourd'hui Marcel et Albert m'emmènent sur l'île suivante dans leur petit voilier.</p>
				</div>
			
				<div data-loc="-13.673772,28.920607" data-zoom="9" data-anchor="20230117__mauvais_choix">
					<h2>Mauvais choix</h2>
					<sub class="📆">17/01/2023, 15:13</sub>
					<p>Aurevoir les copains d'Arrecife, et bonjour la route. Par contre je suis dans un village perdu, sans bateaux, et il pleut. Je réfléchirai mieux la prochaine fois</p>
				</div>
			
				<div data-loc="-13.539016,28.962322" data-zoom="13" data-anchor="20230116__cuisine_collective">
					<h2>Cuisine collective</h2>
					<sub class="📆">16/01/2023, 22:34</sub>
					<p>Venez au Jolly Roger a Arrecife. Le seul risque : s'enraciner. J'y cherche toujours un bateau, demain je bouge</p>
				</div>
			
				<div data-loc="-13.538926,28.962348" data-zoom="13" data-anchor="20230115__mes_premiers_psychoblocs_">
					<h2>Mes premiers psychoblocs!</h2>
					<sub class="📆">15/01/2023, 20:35</sub>
					<p>Au Golfo, c'était facile mais ça fait du bien e grimper dehors, au dessus de l'eau.</p><p>Et au retour stop jusqu'au bar. Ce soir je dors dans un autre bateau.</p>
				</div>
			
				<div data-loc="-13.539876,28.961966" data-zoom="9" data-anchor="20230115__au_port_d_arrecife">
					<h2>Au port d'Arrecife</h2>
					<sub class="📆">15/01/2023, 01:28</sub>
					<p>Il y a beaucoup de vie ici. J'ai pu sortir sur un bateau voir le coucher de soleil, et je dors dans un autre cette nuit.</p><p>Peu de pistes pour continuer le voyage en revanche.</p>
				</div>
			
				<div data-loc="-13.470414,29.098958" data-zoom="13" data-anchor="20230113__dodo_chez_alejandro">
					<h2>Dodo chez Alejandro</h2>
					<sub class="📆">13/01/2023, 22:34</sub>
					<p>Je suis parti en stop, et j'ai rencontré Alejandro qui m'a proposé une place dans son jardin et une douche.</p><p>Il à lui-même construit une bonne partie de la maison, magnifique. Et il entretient son jardin dans lequel poussent autant les courges que les citrons.</p><p>Son frère s'appelle <a href="https://feoflip.com/">Feo Flip</a> si vous aimez les graffitis.</p>
				</div>
			
				<div data-loc="-13.503592,29.230452" data-zoom="13" data-anchor="20230113__sac_dos_l_arrache">
					<h2>Sac à dos à l'arrache</h2>
					<sub class="📆">13/01/2023, 13:04</sub>
					<p>Ça y est, ciao la Malcolm Family et bonjour le bol d'air frais !</p><p>Ce soir je teste ma tente.</p>
				</div>
			
				<div data-loc="-13.527966,29.224859" data-zoom="13" data-anchor="20230109__excursion_rat_e">
					<h2>Excursion ratée</h2>
					<sub class="📆">09/01/2023, 12:10</sub>
					<p>On voulait partir explorer la Graciosa, mais le moteur de l'annexe est en panne. Programme : sandwichs dans le bateau et mécanique.</p>
				</div>
			
				<div data-loc="-13.487647,29.237886" data-zoom="9" data-anchor="20230108__mouillage_temporaire">
					<h2>Mouillage temporaire</h2>
					<sub class="📆">08/01/2023, 09:24</sub>
					<p>Nous allons chercher un lieu plus permanent ou mouiller. Mais déjà on voit les Volcans arides de Graciosa, c'est beau</p>
				</div>
			
				<div data-loc="-13.3378,29.727163" data-zoom="9" data-anchor="20230107__terre_en_vue">
					<h2>Terre en vue</h2>
					<sub class="📆">07/01/2023, 16:12</sub>
					<p>Ça fait plaisir à dire!</p>
				</div>
			
				<div data-loc="-13.097175,30.159251" data-zoom="9" data-anchor="20230107__bient_t_aux_canaries">
					<h2>Bientôt aux Canaries</h2>
					<sub class="📆">07/01/2023, 08:02</sub>
					<p>Navigation tranquille, pas plu d'un mètre de houle. En revanche, on a dû utiliser le moteur pendant deux jours</p>
				</div>
			
				<div data-loc="-9.11719,35.048488" data-zoom="9" data-anchor="20230104__premier_virement_de_bord">
					<h2>Premier virement de bord</h2>
					<sub class="📆">04/01/2023, 02:14</sub>
					<p>Le bateau file a fière allure. Sept nœuds de moyenne avec du petit temps. On arrivera avant lundi si ça continue comme ça</p>
				</div>
			
				<div data-loc="-5.349962,36.153512" data-zoom="13" data-anchor="20230102__altea_ii_prend_la_mer">
					<h2>Altea II prend la mer</h2>
					<sub class="📆">02/01/2023, 14:42</sub>
					<p>Enfin je quitte Gibraltar! On est parti pour une navigation de cinq jours. La météo est bonne, le vent nous poussera à quinze nœuds de moyenne.</p><p>Altea II fait 17 mètres et j'y suis très bien, maintenant on va voir comment il file sur l'eau. On se retrouve aux Canaries..</p>
				</div>
			
				<div data-loc="-5.353232,36.159797" data-zoom="13" data-anchor="20230101__bonne_ann_e">
					<h2>Bonne année</h2>
					<sub class="📆">01/01/2023, 19:34</sub>
					<p>On l'a fêté au bateau avec d'autres voyageurs, et à minuit on a profité du spectacle des fusées de détresse périmées.</p><p>Et la santé surtout!</p>
				</div>
			
				<div data-loc="-5.358121,36.156656" data-zoom="13" data-anchor="20221231__de_retour_a_gibraltar">
					<h2>De retour a Gibraltar</h2>
					<sub class="📆">31/12/2022, 11:35</sub>
					<p>Voilà déjà dix jours passés à Séville. J'ai fait le plein de vie sociale (merci a toute l'équipe de San Isidoro!).</p><p>Je suis donc revenus hier soir au port, ou m'attendait la Malcolm Family. J'ai pu dormir dans ma cabine, avec toilettes perso, chargeur USB, et penderie! Bref, le luxe</p>
				</div>
			
				<div data-loc="-5.99544,37.39209" data-zoom="13" data-anchor="20221223__j_ai_rencontr_mer">
					<h2>J'ai rencontré Ömer</h2>
					<sub class="📆">23/12/2022, 23:10</sub>
					<p>Ok l'orthographe n'est pas la bonne, mais quand même ! Sinon c'est décidé, je reste à Séville pour les fêtes, et pars avec la première fenêtre météo à partir de 2023</p>
				</div>
			
				<div data-loc="-5.995822,37.39485" data-zoom="13" data-anchor="20221223__s_ville">
					<h2>Séville</h2>
					<sub class="📆">23/12/2022, 11:16</sub>
					<p>Des petites vacances au sein du voyage, le temps de savoir avec qui et quand je partirai pour l'Amérique...</p>
				</div>
			
				<div data-loc="-5.353232,36.148289" data-zoom="13" data-anchor="20221219__volare">
					<h2>Volare</h2>
					<sub class="📆">19/12/2022, 23:06</sub>
					<p>J'ai fait la rencontre de Daniele et son Ketch (14 mètres pour 20 tonnes). Un homme dont on voudrait faire un film juste pour l'allure, l'accent et le rythme. Tout lui paraissait évident. Un Italien de Sardaigne qui nous a invité a boire des bières dans son bateau. Peut-être que j'irai naviguer avec lui. Je revois Malcolm demain matin</p>
				</div>
			
				<div data-loc="-5.352955,36.158628" data-zoom="13" data-anchor="20221218__nouvelles_options">
					<h2>Nouvelles options</h2>
					<sub class="📆">18/12/2022, 19:33</sub>
					<p>Les réparations du bateau risquent d'être longues. Je suis donc allé sur une Marina et j'ai rencontré Malcolm qui compte faire la transatlantique avec sa femme et ses quatre enfants sur un bateau de 17m. À suivre...</p>
				</div>
			
				<div data-loc="-5.354764,36.148482" data-zoom="13" data-anchor="20221214___gibraltar">
					<h2>À Gibraltar</h2>
					<sub class="📆">14/12/2022, 13:27</sub>
					<p>On y est arrivés si vite : 10 nœuds de moyenne! C'est impressionnant de voir l'Afrique et l'Europe si proches.</p>
				</div>
			
				<div data-loc="-5.73454,35.834233" data-zoom="13" data-anchor="20221214__pollution_plastique">
					<h2>Pollution plastique</h2>
					<sub class="📆">14/12/2022, 11:46</sub>
					<p>On ne fait pas 10m sans croiser au moins une bouteille à la mer. Pas de message dedans</p>
				</div>
			
				<div data-loc="-5.796825,35.783886" data-zoom="13" data-anchor="20221214___la_douane">
					<h2>À la douane</h2>
					<sub class="📆">14/12/2022, 08:20</sub>
					<p>On attend avant de pouvoir partir pour Gibraltar. C'est long...</p>
				</div>
			
				<div data-loc="-5.797511,35.783732" data-zoom="13" data-anchor="20221212__tajines_et_gr_ement_ab_m_">
					<h2>Tajines et gréement abîmé</h2>
					<sub class="📆">12/12/2022, 21:50</sub>
					<p>On est bien arrivés a Tanger, et depuis deux jours on commence a connaître la Médina et ses délices par cœur.</p><p>Par contre, le capitaine s'est rendu compte de dégâts sur le second ris de notre grand voile. Manouche a besoin d'être réparé. On part donc mercredi matin pour Gibraltar trouver un artisan voilier.</p>
				</div>
			
				<div data-loc="-7.502214,36.536026" data-zoom="13" data-anchor="20221210__en_eaux_internationales">
					<h2>En eaux internationales</h2>
					<sub class="📆">10/12/2022, 22:53</sub>
					<p>Ça y est j'ai quitté l'Europe. Nous naviguons a six nœuds en direction de Tanger. Et depuis quelques heures, plus rien autour de nous que les vagues sombres. Ça sent l'aventure a plein nez !</p>
				</div>
			
				<div data-loc="-8.675483,37.110676" data-zoom="13" data-anchor="20221208__festin_a_lagos">
					<h2>Festin a Lagos</h2>
					<sub class="📆">08/12/2022, 20:12</sub>
					<p>J'ai passé l'après-midi a cuisiner pour la traversée. On va bientôt quitter l'Europe pour Tanger. Tout est prêt, on part demain midi.</p>
				</div>
			
				<div data-loc="-9.498018,38.618744" data-zoom="13" data-anchor="20221205__des_dauphins_">
					<h2>Des dauphins!</h2>
					<sub class="📆">05/12/2022, 16:19</sub>
					<p>Ils jouent à l'avant du bateau depuis dix minutes. Ça on en voit pas en prenant l'avion!</p>
				</div>
			
				<div data-loc="-9.198435,38.693716" data-zoom="13" data-anchor="20221205__direction_lagos">
					<h2>Direction Lagos</h2>
					<sub class="📆">05/12/2022, 15:51</sub>
					<p>Après une petite semaine à Lisbonne, nous voilà repartis pour une navigation de 30 heures.</p><p>On a eu le temps d'améliorer la soudure du pilote, j'ai fait ma première épissure sur un bout trois torons. On a grimpé et puis toujours un petit peu de forró...</p><p>Bref, on est prêt à se rapproche de l'été et il est temps !</p>
				</div>
			
				<div data-loc="-9.161393,38.702658" data-zoom="13" data-anchor="20221129__d_log_s">
					<h2>Délogés</h2>
					<sub class="📆">29/11/2022, 12:00</sub>
					<p>On a toqué sur la coque ce matin : interdit de s'amarrer ici. On change donc de Marina. Il nous faut juste attendre que le pont s'ouvre, amarrer le Manouche, et je pourrai visiter Lisbonne</p>
				</div>
			
				<div data-loc="-9.459607,38.663874" data-zoom="9" data-anchor="20221128__lisbonne_en_vue">
					<h2>Lisbonne en vue</h2>
					<sub class="📆">28/11/2022, 18:40</sub>
					<p>On devrait être dans deux heures à la capitale portugaise. La navigation était douce</p>
				</div>
			
				<div data-loc="-9.824336,39.423341" data-zoom="9" data-anchor="20221128__vent_arri_re">
					<h2>Vent arrière</h2>
					<sub class="📆">28/11/2022, 10:04</sub>
					<p>On navigue sans peine au large du Portugal. Le vent est régulier et bon, j'ai même pu lire, et j'ai rarement aussi bien dormi a bord du bateau!</p>
				</div>
			
				<div data-loc="-8.661024,41.144224" data-zoom="13" data-anchor="20221127__c_est_le_manouche_qui_reprend_la_mer">
					<h2>C'est le Manouche qui reprend la mer</h2>
					<sub class="📆">27/11/2022, 08:32</sub>
					<p>En une semaine a Porto on a eu le temps de réparer le pilote automatique, faire notre lessive et remplir les cales. On retourne donc sur l'océan direction Lisbonne. 36h de navigation</p>
				</div>
			
				<div data-loc="-8.607382,41.117495" data-zoom="13" data-anchor="20221121__forr_em_porto">
					<h2>Forró em Porto</h2>
					<sub class="📆">21/11/2022, 00:35</sub>
					<p>J'arrive dans une petite ruelle pavée. Peu éclairée, avec un peu de brume. Une porte ouverte donne sur une sorte de galerie d'art. C'est là : Mafamood. Danseurs ou non, je conseille vivement ce lieu saugrenue et plein de vie!</p>
				</div>
			
				<div data-loc="-8.65093,41.143517" data-zoom="13" data-anchor="20221120__arriv_e_porto">
					<h2>Arrivée à Porto</h2>
					<sub class="📆">20/11/2022, 15:48</sub>
					<p>20h de navigation et deux quarts. Ce soir ce sera restaurant et peut-être même forró!</p>
				</div>
			
				<div data-loc="-9.191121,42.416526" data-zoom="9" data-anchor="20221119__premier_quart">
					<h2>Premier Quart</h2>
					<sub class="📆">19/11/2022, 04:16</sub>
					<p>On a repris la route. Et sans le pilote automatique. J'ai donc fait mon premier quart de nuit en tenant le gouvernail dans une obscurité totale...</p>
				</div>
			
				<div data-loc="-9.258626,42.909134" data-zoom="9" data-anchor="20221119__impr_vu">
					<h2>Imprévu</h2>
					<sub class="📆">19/11/2022, 02:46</sub>
					<p>Le pilote automatique nous a lâché. Comme la fatigue se faisait aussi sentir, nous avons trouvé un port en chemin.</p>
				</div>
			
				<div data-loc="-8.405915,43.362853" data-zoom="13" data-anchor="20221118__souquez_les_artimuses_">
					<h2>Souquez les Artimuses!</h2>
					<sub class="📆">18/11/2022, 06:54</sub>
					<p>C'est l'heure de la première navigation, 48h en mer en direction de Porto.</p>
				</div>
			
				<div data-loc="-8.391526,43.355526" data-zoom="13" data-anchor="20221116__premi_re_nuit_bord_du_manouche">
					<h2>Première nuit à bord du Manouche</h2>
					<sub class="📆">16/11/2022, 22:31</sub>
					<p>L'équipage est au complet, nous partirons vendredi matin si la météo est clémente.</p><p>Manouche fait 12m de long pour une coque en acier. 3 cabines. Et moi je dors dans le carré, au centre. Bonne nuit!</p>
				</div>
			
				<div data-loc="-5.659742,43.542031" data-zoom="13" data-anchor="20221116__grasse_matin_e">
					<h2>Grasse Matinée</h2>
					<sub class="📆">16/11/2022, 00:00</sub>
					<p>L'aventure la vrai, c'est d'être dans un lit double dans un hôtel avec vu sur l'océan! Bon d'accord, on y viendra...</p><p>En attendant j'ai pu rencontrer Isis et Robin, les deux autres équipiers. Et nous rejoignons Damien et son papa ce soir!</p>
				</div>
			
				<div data-loc="-4.88659,43.415508" data-zoom="13" data-anchor="20221115__sur_la_route">
					<h2>Sur la route</h2>
					<sub class="📆">15/11/2022, 13:26</sub>
					<p>Je rencontre une partie de mon équipage ce soir à Gijon. En attendant je peux admirer Los Picos de Europa tout essayant de baragouiner espagnol avec mon conducteur.</p><p>Pas facile le stop ce matin, je fais une partie en covoiturage pour éviter d'être trop trempé.</p>
				</div>
			
				<div data-loc="-2.007449,43.314667" data-zoom="13" data-anchor="20221114__albergue_peregrinos">
					<h2>Albergue Peregrinos</h2>
					<sub class="📆">14/11/2022, 22:10</sub>
					<p>Nuit a San Sebastian, je suis seul dans le grand dortoir. Normalement ça grouille de pèlerins, mais là il doit faire un peu frais.</p><p>Un petit appel avec Arnaud dont le bateau attend des équipiers aux Canaries. Peut-être les étoiles seront alignés et je pourrai reprendre la mer des mon arrivée...</p>
				</div>
			
				<div data-loc="-0.670283,45.752952" data-zoom="13" data-anchor="20221114__le_d_but_du_p_lerinage_">
					<h2>Le début du pèlerinage! 👍</h2>
					<sub class="📆">14/11/2022, 11:14</sub>
					<p>J'ai trouvé un bateau qui part de la Corogne vendredi matin. J'ai donc pris la route en stop ce matin ! Objectif Bilbao avant la nuit.</p>
				</div>
			
				<div data-loc="-1.152288,46.151223" data-zoom="13" data-anchor="20221110__au_port_des_minimes">
					<h2>Au port des minimes</h2>
					<sub class="📆">10/11/2022, 16:04</sub>
					<p>Annonce posée à la capitainerie. Je suis loin d'être le seul a chercher, il va falloir réussir à se vendre. Et le site semble enfin marcher !</p>
				</div>
			
				<div data-loc="5.758342,45.212658" data-zoom="13" data-anchor="20221109__le_grand_d_part">
					<h2>Le grand départ</h2>
					<sub class="📆">09/11/2022, 11:25</sub>
					<p>Je viens de finir le sac, 16kg, tout rentre! Maintenant direction le train pour la Rochelle</p>
				</div>
			
		</div>
	</div>
	<div id="disqus_thread"></div>
	{% include footer.html %}
	<script src="/globe.js"></script>
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
		var disqus_config = function () {
			this.page.url = '{{ page.url | absolute_url }}'
			this.page.identifier = 'globe'
		};
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://ulysse-md.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
</body>

</html>
