---
---

<!DOCTYPE html>
<html>

<head>
	{% include meta.html %}
	<meta charset="utf-8">
	<title>Globe</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
	<link rel="stylesheet" href="/css/globe.css" type="text/css" />
</head>

<body>
	<div id="grid">
		<div id="map"></div>
		<div id="breves">
			<h1>Breves de voyage</h1>
			
				<div data-date="2022-01-01" data-loc="1.0,45.0">
					<h2>Vivamus tortor sapien, tincidunt</h2>
					<sub class="📆">01/01/2022</sub>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur risus arcu, placerat sit amet diam ut, sollicitudin volutpat mauris. Quisque mattis velit eget nunc fermentum, id condimentum lorem suscipit. Phasellus consequat quis magna ut pulvinar. Pellentesque at orci turpis. In mattis malesuada porta. Praesent sed auctor magna. Praesent et dolor a arcu cursus finibus sit amet dignissim sem. Donec volutpat accumsan tempus. Nullam sed ipsum vel nunc tempor venenatis in at ante. Duis tincidunt neque nec mauris posuere, sed convallis magna feugiat. Curabitur pharetra, enim in ornare ullamcorper, mauris dui facilisis nunc, vitae facilisis odio nulla id ex. Nam imperdiet at ex ut lacinia. Maecenas tincidunt eu mauris vel viverra. Donec mollis imperdiet tristique.
				</div>
			
				<div data-date="2022-01-02" data-loc="1.9,41.0">
					<h2>In nec eros est</h2>
					<sub class="📆">02/01/2022</sub>
					Integer commodo interdum sapien sit amet elementum. Proin maximus a lectus eu accumsan. Vestibulum porttitor eros quis est iaculis, at volutpat magna scelerisque. Praesent maximus ipsum ut consequat cursus. Maecenas venenatis felis nisi, non aliquam ipsum porta nec. Aenean quis dolor ut massa ornare blandit vel ac risus. Nullam sodales sodales nisl. Nam vehicula interdum libero a commodo. Duis molestie lacinia ante. Maecenas in convallis ante. Vestibulum condimentum interdum mauris sed porta. Vivamus nisi risus, lobortis at metus et, lacinia malesuada nisl. Sed volutpat metus id ligula lobortis pulvinar. Praesent posuere molestie mi. Proin tempus vehicula velit, ut iaculis nisl feugiat congue.
				</div>
			
				<div data-date="2022-01-03" data-loc="0.2,39.0">
					<h2>Praesent et dolor a arcu cursus</h2>
					<sub class="📆">03/01/2022</sub>
					Duis ultricies fringilla libero, tristique tincidunt nisi mollis et. Morbi id aliquam ex. Praesent quis hendrerit odio, eu commodo diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean viverra volutpat velit in mollis. Ut suscipit augue erat, in auctor dolor venenatis sit amet. Donec rhoncus ligula fringilla sem volutpat, nec viverra enim eleifend. Nulla facilisi. Proin ut congue purus. Donec at aliquam lacus. Donec quis maximus diam, et accumsan lorem. Curabitur laoreet tempor augue. Mauris vestibulum interdum blandit.
				</div>
			
				<div data-date="2022-01-05" data-loc="0.2,36.0">
					<h2>Suspendisse aliquam lectus pharetra diam</h2>
					<sub class="📆">05/01/2022</sub>
					Integer commodo interdum sapien sit amet elementum. Proin maximus a lectus eu accumsan. Vestibulum porttitor eros quis est iaculis, at volutpat magna scelerisque. Praesent maximus ipsum ut consequat cursus. Maecenas venenatis felis nisi, non aliquam ipsum porta nec. Aenean quis dolor ut massa ornare blandit vel ac risus. Nullam sodales sodales nisl. Nam vehicula interdum libero a commodo. Duis molestie lacinia ante. Maecenas in convallis ante. Vestibulum condimentum interdum mauris sed porta. Vivamus nisi risus, lobortis at metus et, lacinia malesuada nisl. Sed volutpat metus id ligula lobortis pulvinar. Praesent posuere molestie mi. Proin tempus vehicula velit, ut iaculis nisl feugiat congue.
				</div>
			
				<div data-date="2022-10-26" data-loc="5.0e-06,4.5e-05">
					<h2>title</h2>
					<sub class="📆">26/10/2022</sub>
					abc def
				</div>
			
				<div data-date="2022-10-27" data-loc="4.855081,45.754196">
					<h2>Pôle emploi toujours pas</h2>
					<sub class="📆">27/10/2022</sub>
					Le départ se précise : paille filtrante, duvet, contacts, aurevoir. Mais toujours pas de rendez vous avec Pôle emploi.

En attendant, la liste des préparatifs s'allonge plus qu'elle ne devrait s'amenuiser...
				</div>
			
				<div data-date="2022-10-28" data-loc="5.952782,45.557576">
					<h2>À Chambéry </h2>
					<sub class="📆">28/10/2022</sub>
					Salut les poules. Aujourd'hui ce sera administratif 
				</div>
			
		</div>
	</div>
	{% include footer.html %}
	<script src="globe.js"></script>

</body>

</html>
