<div class="footer">
	<div class="contact">
	  <p>
		<a href="/feed.xml" target="_blank" style="text-decoration: none; margin-right: 5px;">RSS</a> |&nbsp;
		<a href="http://github.com/BuonOmo" target="_blank" style="text-decoration: none; margin-right: 5px;">Github</a> |&nbsp;
		<a href="https://stackoverflow.com/users/6320039/ulysse-bn" target="_blank" style="text-decoration: none; margin-right: 5px;">Stack Overflow</a> |&nbsp;
		<a href="https://twitter.com/UlysseBN" target="_blank" style="text-decoration: none; margin-right: 5px;">Twitter</a> |&nbsp;
		<a href="mailto:buonomo.ulysse@gmail.com" target="_blank">Contact</a>
	  </p>
	</div>
</div>
