<!DOCTYPE html>
<html lang="en">

<head>
	{% include meta.html %}
	<title>{{ page.title }} - Posted By Ulysse</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
</head>

<body>
	<div class="site">
		<div id="post" class="post-content">
			<a class="👈" href="/"><h1>{{ page.title }}</h1></a>
			<p class="📆">{{ page.date | date: "%B %e, %Y" }} — {{ page.author }}</p>

			<section>
				{{ content }}
			</section>
		</div>

		{% include footer.html %}
	</div>
</body>

</html>
